body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #071426;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 1px solid #1e90ff;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

.titulo {
    text-align: center;
    padding: 50px;
}

.titulo h2{
    margin-bottom: 15px;
    font-size: 30px;
}

.titulo p{
    margin: 0;
    font-size: 16px;
}

.simulador {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-bottom: 20px;
}

.controles,
.resultado {
    width: 350px;
    padding: 30px;
    background: #0d2038;
    border-radius: 15px;
    text-align: center;
}

#imagen-planeta {
    width: 180px;
    height: 180px;
    object-fit: contain;
    margin: 20px auto;
    display: block;
}

.informacion {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 40px;
}

.informacion div {
    width: 200px;
    padding: 20px;
    background: #0d2038;
    border-radius: 20px;
}

.informacion div h3 {
    margin-bottom: 10px;
}

.informacion div p {
    margin: 0;
}

.campo {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.campo label {
    margin-bottom: 5px;
}

.campo select,
.campo input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

#calcular {
    padding: 10px 20px;
    background: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sobre,
.introduccion{
    text-align: center;
    margin: 40px auto;
    padding: 30px;
    max-width: 800px;
}

.sobre h2,
.introduccion h2{
    margin-bottom: 15px;
    font-size: 30px;
}

.sobre p,
.introduccion p{
    font-size: 16px;
    line-height: 1.5;
}

.informacion div,
.controles,
.resultado {
    transition: 0.3s;
}

.informacion div:hover,
.controles:hover,
.resultado:hover {
    transform: translateY(-3px);
}

@media (max-width: 768px) {

    header {
        padding: 20px;
        flex-direction: column;
        gap: 15px;
    }

    nav a {
        margin-left: 10px;
        margin-right: 10px;
    }

    .titulo {
        padding: 40px 20px;
    }

    .titulo h2 {
        font-size: 25px;
    }

    .simulador {
        flex-direction: column;
        align-items: center;
    }

    .controles,
    .resultado {
        width: 90%;
    }

    .informacion {
        flex-wrap: wrap;
        margin: 30px 20px;
    }

    .informacion div {
        width: 45%;
    }

    .introduccion,
    .sobre {
        margin: 30px 20px;
        padding: 20px;
    }
}